<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
</head>
<body>
<p><h1>Выберите действие</h1></p>
<form action="/users" method="GET">
    <input type="submit" value="Управление пользователями">
</form>
<p></p>
<form action="/alcohol/" method="GET">
    <input type="submit" value="Посмотреть виды алкоголя">
</form>
<p></p>
<form action="/coctails/" method="GET">
    <input type="submit" value="Посмотреть список коктейлей">
</form>
<p></p>
<form action="/calculator/" method="GET">
    <input type="submit" value="Алкогольный калькулятор">
</form>
</body>
</html>